<div class="guInteractive guPollProjection bgc-grey-light">

    <a class="anchor" name="default" data-status="The Guardian poll projection"></a>
    <div class="l-main-old bgc-white">
        
        <!-- section 2 -->
        <div class="row bdt-section-nope ">
            <a class="anchor" name="voting-intention-over-time" data-status="How the polls are evolving, from the Guardian poll projection"></a>
            
            <div class="col-right mt-section mb-60 pos-r">
                <!-- pollchart --> 
                <div id="pollchart"></div>
                <div id="pollchartTooltip" class="tp-text pos-a d-n ff-ss fz-14">
                    <div class="fw-b pt-10"></div>
                    <div></div>
                    <div class="fw-b pb-7"></div>           
                </div>  
                <!-- end of pollchart -->
            </div>
        </div>

       

        <!-- section 3 -->
        <div class="row bdt-section-nope ">
            <a class="anchor" name="all-uk-wide-polls" data-status="Full list of opinion polls from the Guardian poll projection"></a>
            
            <div class="col-right mt-section mb-60">
                <div id="daybyday">
                    <div id="pollsterFilterContainer">
                        <span class="filter-title">Filter by pollster:</span>
                        <ul id="pollstersFilter"></ul>
                    </div>
                    <div id="pollsTable" ></div>
                    <br/>
                    <a href="#" id="showMorePolls" class="more">Show more</a>
                </div>
            </div>
        </div>
    </div>
</div>
