@import 'modules/seat';
@import 'modules/flows';
@import 'modules/daybyday';

/* widget */
// override
a { cursor: pointer; }


// style
.widget {
  border-top:1px solid #ddd;
  border-bottom:1px solid #ddd;
 
  .col-side {
    margin-bottom: 20px;
  }
}

.widget-header {
  border-bottom: 1px solid #dcdcdc;
  
  .img__projection {
    display: none;
		width:90px;
		height: 100%;
	}
  
  .col-title {
    width: 100%;
    margin: 8px 0 5px 0;
  }
  
  .h2 {
		font-family:'Guardian Egyptian Web', Georgia, serif;
    font-size: 22px;
    line-height: 1.2;
  }

  .btns-share {
    display: inline; //TODO: remove this, if possible
  }
  .btn-next path {
		fill: #005689;
	}
  .txt-next {
		font-family:'Guardian Egyptian Headline', Georgia, serif;
		color: #00588a; 
    
    display: inline-block;
    margin-top: 5px;
    vertical-align: top;  
  }
}

.widget-footer {
  border-top:1px solid #ddd;
  background-color:#eee;
  padding-top:5px;
  padding-left:5px;

  .btns-share {
      display: inline; //TODO: remove this, if possible
    }
    .btn-next path {
      fill: #005689;
    }
    .txt-next {
      font-family:'Guardian Egyptian Headline', Georgia, serif;
      color: #00588a; 
      
      display: inline-block;
      margin-top: 5px;
      vertical-align: top;  
    }
}


// responsive: 

// responsvie: widget's header
@media (min-width: 660px) {
  .widget-header {
    .img__projection {
      display: block;
	  }
    .col-title {
      width: calc(100% - 100px);
      margin-left: 100px;
    }
    .col-btns {
      margin-left: 100px;
  }}
}
@media (min-width: 740px) {
  .widget-header {
    .h2 {
      display: inline-block;
    }
    .col-title {
      width: calc(100% - 100px - 250px); //250 is col-btns
    }
    .pos-btns {
      position: absolute;
      right: 0;
      bottom: 0; 
  }} 
}

// responsive: widget's body
@media (min-width: 780px) { 
  .col-side { 
    float: left; 
    width: 140px; 
    padding-right: 20px;
  }
  .cal-main {
    width: 620px;
  }
}
@media (min-width: 860px) { 
  .col-side { 
    width: 220px; 
  }
}

// responsive: iframe breakpoints
/*/ padding due to media object
//@media (max-width:  619px) { .widget { padding: 0 20px; }}
//@media (max-width:  479px) { .widget { padding: 0 10px; }}
// sizes of media object
@media (max-width:  320px) { .widget { width: 320px; }}
@media (min-width:  660px) { .widget { width: 620px; }}
@media (min-width:  740px) { .widget { width: 700px; }}
@media (min-width:  980px) { .widget { width: 620px; }}
@media (min-width: 1140px) { .widget { width: 780px; }}
@media (min-width: 1300px) { .widget { width: 860px; }}
*/

