/* Atomic CSS */
.c-3  { color: #333; }
.c-b3 { color: #b3b3b3; }
.c-76 { color: #767676; }

.mt-20  { margin-top: 20px; }
.mt-25  { margin-top: 25px; }
.mt-47  { margin-top: 47px; }
.mt-120 { margin-top: 120px; }
.mb-10  { margin-bottom: 10px; }


/* override */
a { cursor: pointer; }

@import 'modules/flows';
@import 'modules/daybyday';

/* Style of widget */
.widget {
  border-top:1px solid #ddd;
  border-bottom:1px solid #ddd;
}

.widget-header {
  border-bottom: 1px solid #dcdcdc;
  
  .img__projection {
    display: none;
		width:90px;
		height: 100%;
	}
  
  .col-title {
    width: 100%;
    margin: 8px 0 5px 0;
  }
  
  .h2 {
		font-family:'Guardian Egyptian Web', Georgia, serif;
    font-size: 22px;
    line-height: 1.2;
  }

  .btns-share {
    display: inline; //TODO: remove this, if possible
  }
  .btn-next path {
		fill: #005689;
	}
  .txt-next {
		font-family:'Guardian Egyptian Headline', Georgia, serif;
		color: #00588a; 
    
    display: inline-block;
    margin-top: 5px;
    vertical-align: top;  
  }
}

@media (min-width: 660px) {
  .widget-header {
    .img__projection {
      display: block;
	  }
    .col-title {
      width: calc(100% - 100px);
      margin-left: 100px;
    }
    .col-btns {
      margin-left: 100px;
  }}
}
@media (min-width: 740px) {
  .widget-header {
    .h2 {
      display: inline-block;
    }
    .col-title {
      width: calc(100% - 100px - 250px); //250 is col-btns
    }
    .pos-btns {
      position: absolute;
      right: 0;
      bottom: -3px; 
  }} 

  .widget-section {
    .coalition {
      width: 33.33%;
    }
  }
}


@media (min-width: 1140px) { 
  .col-side { width: 140px; float: left; }
}
@media (min-width: 1300px) { 
  .col-side { width: 220px; }
}


//override
.widget-section {
/*  .col-side,
  .col-main {
    width: 100%;
    float: none;
    padding-left: 0;
  }
  .col-side {
    margin-right: 0;
  }*/
  .coalition {
    width: 100%;
  }
  .t-bd-s {
    color:#000;
  }
}

@media (min-width: 660px) {
  .widget-section {
	  .col-side {
		  float: left;
		  width: 210px; 
    }
	  .col-main {
		  width: calc(100% - 210px - 20px);
		  overflow: hidden;
		  zoom: 1; //for IE!?  
  }}
}
@media (min-width: 740px) {
  .widget-section {
    .coalition {
      width: 33.33%;
    }
  }
}



