/**
 * Project: Project name 
 * File:    Main SCSS
 */

//** Variables */
$guss-webfonts-base-url: '//pasteup.guim.co.uk/fonts/';

$ff-s:  "Guardian Egyptian Web", Georgia, serif;
$ff-ss: "Guardian Text Sans Web","Agate Sans", sans-serif; 
$ff-agate: "Guardian Agate Sans 1 Web","Agate Sans", sans-serif; 

$con:    #005789;
$grn:    #33A22B;
$lab:    #E31F26;
$ldem:   #FFB900;
$others: #B3B3B4;
$snp:    #FCDD03;
$ukip:   #7D0069;
$dup:    $others;
$sdlp:    $others;
$pc:     #868686;


@import 'bower_components/pasteup-palette/src/_palette';
@import 'bower_components/guss-webfonts/src/_webfonts.scss';
@import 'bower_components/guss-typography/_typography.scss';

@include guss-webfonts();
@include guss-typography-defaults;

@import 'modules/page';
@import 'modules/seats';
@import 'modules/sparklines';
@import 'modules/pollchart';
@import 'modules/daybyday';


/** GNM Hack **/
figure.element-interactive{
    margin:0
}
#article-body.interactivePadding{
    padding-left:0;
    padding-right:0; 
}

body {
   margin: 0 !important; // Override NGW
}

.site-message, .skip {
  display: none;
}

.is-immersive .l-footer {
    display: block;
}


/** Style: reset */
body {
  width: 100%;
}

body,
figure.element-interactive {
  margin: 0;
}

h1, h2, h3, h4, p {
  margin: 0;
}

a {
  color: #005689;
  cursor: pointer;
  text-decoration: none;
  &:hover {
  text-decoration: underline;
  }
}

img {
  border: none;
}


// for app version
.article__header {
  display: none;
}
#article-body 
#article-body .l-main {
  padding: 0;
  margin: 0;  
}
#article-body .l-header,
#article-body .l-footer {
  display: none;  
}
#article-body .bgc-grey-light {
  background-color: white;
}

#article-body ul::before,
#article-body li::before {
  display: none;
}
 
#article-body a {
  text-shadow: none !important; // Override apps
}


/** Atomic CSS, kind of */
// fonts: (f*-)
.ff-s  { font-family: $ff-s; }
.ff-ss { font-family: $ff-ss; }

// colors: (c-)
.c-3  { color: #333; }
.c-b3 { color: #b3b3b3; }
.c-76 { color: #767676; }

// backgound colors: (bgc-)
.bgc-con    { background-color: $con; }
.bgc-grn    { background-color: $grn; }
.bgc-lab    { background-color: $lab; }
.bgc-snp    { background-color: $snp; }
.bgc-ldem   { background-color: $ldem; }
.bgc-ukip   { background-color: $ukip; }
.bgc-dup    { background-color: $dup; }
.bgc-sdlp    { background-color: $sdlp; }
.bgc-others { background-color: $others; }

.bgc-white      { background-color: #FFF;}
.bgc-grey-light { background-color: #EEE; }
.bgc-grey-dark  { background-color: #424242; }
.bgc-blue-light { background-color: #296d96; }
.bgc-blue-dark  { background-color: #005689; }

// borders: (bd*-)
.bdt-section    { border-top: 1px solid #DCDCDC; }
.bdt-subsection { border-top: 1px dotted #DFDFDF; }
.bdt-copyright  { border-top: 1px solid #656565; }

// position relative + absolute: (pos-)
.pos-r { position: relative; }
.pos-a { position: absolute; }

// padding:
.pb-0 { padding-bottom: 0;}

// margin:
.mt-5   { margin-top: 5px; }
.mt-20  { margin-top: 20px; }
.mt-35  { margin-top: 35px; }
.mt-120 { margin-top: 120px; }
.mb-10  { margin-bottom: 10px; }
.mb-15  { margin-bottom: 15px; }
.mb-60  { margin-bottom: 60px; }

.mt-section {
  margin-top: 52px;
}
