// style and override

.front-header,
.front-body {
  padding: 0 5px;
}

.front-header { 
  border-bottom: 1px solid #dcdcdc;

  // title
  .h2 {
    font-family:'Guardian Egyptian Web', Georgia, serif;
    font-size: 17px;
    font-weight: bold;
  }
  // legend
  .t-ul__party {
    font-size: 12px;
  } 
  .ul__party li:nth-child(1)::after { content: "Lab"; }
  .ul__party li:nth-child(6)::after { content: "LD"; }
  .ul__party li:nth-child(7)::after { content: "Con"; }
  .ul__party li:nth-child(7) { width: auto; }
  .rect {
    width: 5px;
    height: 10px;
    margin-right: 3px;
    margin-bottom: 2px;
    border-radius: 2px;
    display: inline-block;
    vertical-align: middle;
  }
  .col-legend {
    float: left;
    li { padding-right: 10px; }
  }
} 

.front-body {
  margin-top: 5px;
  margin-bottom: -15px;
  // to reduce extra spaces in sparklines

  // sparklines
  .seats-chart svg .linechart path {
    stroke-width: 2px;
  }
  .seats-chart:nth-child(2),
  .seats-chart:nth-child(3),
  .seats-chart:nth-child(4) {
    display: none;
  }  

  // coalitions
  .col-coalitions {
    display: none;
  }
}

.front .widget-footer {
  background-color: transparent;
  padding-top: 3px;
  margin-bottom: -4px; 
}



// responsive:

@media (min-width: 340px) {
  .front-header {
    .h2 {
      font-size: 20px;
    }
  }
  .front-body { 
    #commonsChart {
      margin-top: 0; 
  }}
}

@media (min-width: 460px) {
  .front-header {
    .ul__party li:nth-child(1)::after { content: "Labour"; }
    .ul__party li:nth-child(6)::after { content: "Lib Dem"; }
    .ul__party li:nth-child(7)::after { content: "Conservatives"; }
}}

@media (min-width: 480px) {
  .front-body {
    .seats-chart:nth-child(2),
    .seats-chart:nth-child(4) {
      display: block;
    }    
    .seats-chart {
      width: 25%;   
    }
}}

@media (min-width: 620px) {
  .front-header {
  }
  .front-body {
    .seats-chart:nth-child(3) {
      display: block;
    }    
    .seats-chart {
      width: 20%;   
    }
}}

@media (min-width: 700px) {
  .front-body {
    margin-top: 10px;
    margin-bottom: 10px;
    .col-seats {
      float: left;
      width: 75%;
    }

    // display coalitions
    .col-coalitions {
      display: block;
      float: right;
      width: calc(25% - 18px); //10+1+?
      padding-left: 10px;
      border-left: 1px dotted lightgrey;
      line-height: 1.4;
    }
    #seatsCharts {
      margin-left: 10px;
    }
    #par_coalitions-embed {
      padding-bottom: 6px;
    }
    #coalitionsChart {
      .coalition {
        width: 100%;
        margin: 0;
        padding: 0;
      }
      .coalition-balance {
        margin-bottom: 10px;
        span { margin-right: 6px; }
      }
      // coalitions' descriptions
      p {
        color: #767676;
        font-size: 12px;
        margin-top: -5px;
        margin-bottom: 10px;
      }
      .n2 p {
        margin-bottom: 0;
      }
      // only dispaly first 3 coalitions
      .n3, .n4, .n5 { 
        display: none; 
      }
    }
}}

@media (min-width: 940px) {
  .front-header {
    margin-top: 4px;
    .col-title {
      float: left;
    }
    .col-legend {
      float: right;
    }
  }
  .front-body {
    margin-top: 10px;
    margin-bottom: -5px;
    #par_coalitions-embed {
      padding-bottom: 25px;
    }
  }
}
