// override

.front-header,
.front-body {
  padding: 0 5px;
}

.front-header { 
  overflow: hidden;
  border-bottom: 1px solid #dcdcdc;

  // title
  .h2 {
    font-family:'Guardian Egyptian Web', Georgia, serif;
    font-size: 17px;
    font-weight: bold;
  }
  // legend
  .t-ul__party {
    font-size: 12px;
  } 
  .ul__party li:nth-child(1)::after { content: "Lab"; }
  .ul__party li:nth-child(6)::after { content: "LD"; }
  .ul__party li:nth-child(7)::after { content: "Con"; }
  .ul__party li:nth-child(7) { width: auto; }

  .col-legend {
    float: left;
    width: 100%;
    .rect { margin-right: 2px; }
    li { padding-right: 6px; }
  }
} 

.front-body {
  // sparklines
  #seatsCharts {
    display: none;
  }
  // coalitions
  #coalitionsChart {
    p {
      display: none;
    }
    .coalition {
      width: 100%;
      margin: 0;
      padding: 0;
    }
    .coalition-balance {
      margin-bottom: 10px;
    }
  }
  #par_coalitions-embed {
    padding-bottom: 6px;
  }
}

.front .widget-footer {
  width: 100%;
  background-color: #f1f1f1;
  padding-top: 1px;
  position: absolute;
  bottom: -6px;
}

.show-460 {
  display: none;
}


// responsive: widget for front page (override)

@media (min-width: 340px) {
  .front-header {
    .h2 {
      font-size: 20px;
    }
    .t-ul__party {
      font-size: 14px;
    }
    .col-legend li {
      padding-right: 8px;
    }
  }
  .front-body { 
    #commonsChart {
      margin-top: 0; 
    }
    #coalitionsChart {
      margin-top: 0;
      .coalition {
        width: 50%;
    }}
}}

@media (min-width: 460px) {
  // display text
  .show-460 {
    display: block;
  }
  .front-header {
    .ul__party li:nth-child(1)::after { content: "Labour"; }
    .ul__party li:nth-child(7)::after { content: "Conservatives"; }
    .col-legend {
      .rect { margin-right: 4px; }
      li { padding-right: 12px; }
    }
  }
  .front-body {
    #coalitionsChart {
      .coalition {
        width: 33.33%;
        span { margin-right: 6px; }
    }}
  }
}

@media (min-width: 620px) {
  .front-header {
    .ul__party li:nth-child(6)::after { content: "Lib Dem"; }
  }
  // display sparklines
  .front-body {
    #seatsCharts {
      display: block;
      .seats-chart {
        width: 20%;   
    }}
}}

@media (min-width: 700px) {
  .front-body {
    .col-seats {
      float: left;
      width: calc(75%);
    }
    .col-coalitions {
      float: right;
      width: calc(25% - 18px); //10+1+?
      padding-left: 10px;
      border-left: 1px dotted lightgrey;
    }
    #coalitionsChart {
      .coalition {
        width: 100%;
      }
      .n5 {
        display: none;
      }
    }
  }
}

@media (min-width: 940px) {
  .front-header {
    .col-title {
      float: left;
    }
    .col-legend {
      float: right;
      width: auto;
      .rect { margin-right: 6px; }
      li { padding-right: 18px; }
    }
  }
  .front-body {
    margin-top: 20px;
    #par_coalitions-embed {
      padding-bottom: 25px;
    }
    #coalitionsChart {
      .n5 {
        display: block;
    }}
  }
}
