/* seat chart */

// override
.widget-section-seat {
  #coalitionsChart p {
    display: none;
  }
  #coalitionsChart .coalition {
    width: 33.33%;
    padding: 0;
  }
}

@media (max-width: 380px) {
  .widget-section-seat { 
    #coalitionsChart .coalition {
      width: 100%;
      margin: 0;
    }
    #coalitions:last-child {
      margin-bottom: 20px;
    }
}}

@media (max-width: 620px) {
  .widget-section-seat {
    .mt-35 {
      margin-top: 0;
    }
}}
