.mt-coalitions {
    margin-top:6px;
}
.mt-section.mt-seats-chart {
    margin-top:45px
}
.poll-chart {

    overflow: hidden;
    font-family:$ff-ss;

    svg {
        font-family:$ff-agate;
        font-size:12px;
    }

    .majority path {
        shape-rendering:crispEdges;
        stroke-width:1;
        stroke:#333;
        /*fill:#333;*/
    }
    .majority text {
        text-anchor:middle;
    }
    .majority text tspan {
        
    }
    .majority text tspan.bold {
        font-weight: bold;
    }
    .con,
    .con line {
        fill:$con;
        stop-color:$con;
        stroke:$con;
        color:$con;
    }
    .lab,
    .lab line {
        fill:$lab;
        stop-color:$lab;
        stroke:$lab;
        color:$lab;
    }
    .snp,
    .snp line {
        fill:$snp;
        stop-color:$snp;
        stroke:$snp;
        color:#fcb705;
    }
    .snp text {
        fill:#fdca48;
    }
    .libdem,
    .libdem line {
        fill:$ldem;
        stop-color:$ldem;
        stroke:$ldem;
        color:$ldem;
    }
    .libdem text {
        fill:#eead00;
    }
    .ukip,
    .ukip line {
        fill:$ukip;
        stop-color:$ukip;
        stroke:$ukip;
        color:$ukip;
    }
    .dup,
    .dup line {
        fill:$dup;
        stop-color:$dup;
        stroke:$dup;
        color:$dup;
    }
    .green,
    .green line {
        fill:$grn;
        stop-color:$grn;
        stroke:$grn;
        color:$grn;
    }
    .others,
    .others line {
        fill:$others;
        stop-color:$others;
        stroke:$others;
        color:$others;
    }
    .pc,
    .pc line {
        color:$pc;
        fill:$pc;
        stop-color:$pc;
        stroke:$pc;
    }
    .gray {
        stop-color:#999;
    }
    .bar rect {
        stroke:none;
        stroke-width:0;
    }
    .bar rect.ix {
        fill:transparent;
        fill-opacity:0 !important;
        stroke: none;
        stroke-width:0;
    }
    .bar text {
        stroke:none;
        stroke-width:none;
        font-size:14px;
        display: none;
    }
    .bar.hover text,
    .bar.show-text text {
        display: block;
    }
    .bar text {
        text-anchor:middle;
    }
    .filtered .bar.hover text {
        display: none;
    }
    .filtered .bar.dehover rect,
    .filtered .bar.same-party.dehover rect {
        fill-opacity:0;
    }
    /*
    .bar.right text {
        text-anchor:end;
    }
    .bar.left text {
        text-anchor:start;
    }
    */
    .bar.same rect {
        fill-opacity:0;
    }
    .filtered .bar.same-party rect {
        fill-opacity:0.3;
    }
    .filtered .bar.main-party.snp rect {
        fill-opacity:0.6;
    }

    .filtered .bar:not(.main-party) rect {
        fill-opacity:1;
        fill:#eee;
    }

    line {
        stroke:rgba(0,0,0,0.1);
        shape-rendering:crispEdges;
    }
    line.detail {
        stroke-width:5;
    }
    line.start,
    line.end {
        stroke:#eee;
    }
    line.majority {
        stroke:#666;
        stroke-width:1;
        stroke-dasharray: 2 2;
    }
    rect.changed {
        fill-opacity:0.1;
        stroke:none;
        stroke-width:0;
    }
    .hidden {
        display:none;
    }

    .bg rect {
        fill:#eee;
    }
    .bg text {
        fill:#333;
    }
    .bg text tspan.bold {
        font-weight: bold;
    }
    .flow path {
        fill-opacity:0.3;
        stroke:none;
        stroke-width:0;
    }
    .flow path.highlight {
        fill-opacity:0.9;
    }
    .flow path.dehighlight {
        fill-opacity:0.1;
    }
    .flow text {
        stroke:none;
        stroke-width:0;
        text-anchor:middle;
    }
    .filtered .flow.same-party path {
        fill-opacity:0.1;
    }
    .filtered .flow.main-party path {
        fill-opacity:0.8;
    }
    .filtered .flow.same-party path {
        fill-opacity:0.1;
    }
    .filtered .flow.same-party.snp.main-party path {
        fill-opacity:0.5;
    }
    .filtered .flow:not(.main-party) path {
        fill-opacity:0;
        fill:#000;
    }
    .poll-chart {
        overflow: hidden;
        width:100%;
        clear:both;
    }
    .poll-chart svg {
        
    }
    .balance-sheet {
        width:100%;
        height:60px;
        margin:0px;
        position: relative;
        margin-top: -25px;
    }
    .balance-sheet .balance-value {
        position: absolute;
        text-align: left;
        width:40px;
    }
    .balance-sheet .balance-result {
        width:40px;
    }
    .balance-sheet .balance-value span {
        display: block;
    }
    .balance-sheet .balance-value span.qty {
        padding: 0em;
        font-size: 14px;

    }
    .balance-sheet span.label {
        margin:2px;
        padding:4px 0 0;
        

        font-size:13px;
        
        white-space: nowrap;
        
        padding-bottom: 0.1em;

        line-height: 1.1em;

    }

    .balance-sheet .con span.label {
        color:$con;
    }
    .balance-sheet .lab span.label {
        color:$lab;
    }
    .balance-sheet .snp span.label {
        color:#fcb705;
    }
    .balance-sheet .libdem span.label {
        color:$ldem;
    }
    .balance-sheet .ukip span.label {
        color:$ukip;
    }
    .balance-sheet .dup span.label {
        color:$dup;
    }
    .balance-sheet .green span.label {
        color:$grn;
    }
    .balance-sheet .others span.label {
        color:$others;
    }
    .balance-sheet .pc span.label {
        color:$pc;
    }
    .balance-sheet h3 {
        margin-bottom:10px;
    }
    .balance-sheet table {
        width:100%;
        border-collapse: collapse;
        border-spacing: 0;
        empty-cells: show;
        color:#333;
    }
    .balance-sheet tr {
    }
    .balance-sheet tr td {
        text-align:right;
        padding: 0em;
        font-size: 24px;
        vertical-align: bottom;
    }
    .balance-sheet tr.bal td {
        border-top:2px solid #333;
        font-weight: bold;
    }
    .balance-sheet tr td.qty {
        width:100%;
    }
    .balance-sheet tr td:first-child{
        text-align: center;
    }
    .balance-sheet tr td:last-child{
        text-align:left;
        font-size:0.7em;
        
        white-space: nowrap;
        padding-left:0.5em;
        padding-bottom: 0.1em;

        
    }
    .balance-sheet tr td:last-child span {
        display: block;
        margin:2px;
        padding:4px 5px;
        height: 100%;
        border-radius: 2px;
    }
    .balance-sheet tr.bal td:last-child{
        border-top: 2px solid transparent;
    }

    .balance-sheet .con td:last-child span{
        background-color:$con;
        color:#fff;
    }
    .balance-sheet .lab td:last-child span{
        color:#fff;
        background-color:$lab;
    }
    .balance-sheet .snp td:last-child span {
        
        background-color:$snp;
    }
    .balance-sheet .libdem td:last-child span{
        
        background-color:$ldem;
    }
    .balance-sheet .ukip td:last-child span{
        color:#fff;
        background-color:$ukip;
    }
    .balance-sheet .dup td:last-child span{
        color:#fff;
        background-color:$dup;
    }
    .balance-sheet .green td:last-child span{
        
        background-color:$grn;
    }
    .balance-sheet .others td:last-child span{
        
        background-color:$others;
    }
    .balance-sheet .pc td:last-child span{
        background-color:$pc;
    }
    .bg-con {
        background-color:$con;
    }
    .bg-lab {
        background-color:$lab;
    }
    .bg-snp {
        background-color:$snp;
    }
    .bg-libdem {
        background-color:$ldem;
    }
    .bg-ukip {
        background-color:$ukip;
    }
    .bg-dup {
        background-color:$dup;
    }
    .bg-green {
        background-color:$grn;
    }
    .bg-others {
        background-color:$others;
    }
    .bg-pc {
        background-color:$pc;
    }

    #coalitions {
        overflow: hidden;
    }
    .coalition {
        /*float: left;*/
        box-sizing: border-box;
        padding: 10px 5px 0;
        width:100%;
        margin-bottom: 30px;
        display: inline-block;
        vertical-align: top;
    }
    .coalition-balance {
        overflow: hidden;
        margin-bottom: 11px;
    }
    .coalition-balance span {
        float: left;
        width: 10px;
        height: 20px;
        border-radius: 2px;
        display: block;
        line-height: 20px;
        text-align: center;
        color:#333;
        font-weight: bold;
        margin-right: 10px;
    }
    
    @media (min-width: 480px) {
        .coalition {
            width:50%;
            /*min-height: 130px;*/
        }
        .coalition:nth-child(2n+2) {
            padding-right:5px;
            padding-left:20px;
        }
        .coalition:nth-child(1n+1),
        .coalition:first-child {
            padding-left:5px;
            padding-right:20px;
        }
    }
    @media (min-width: 740px) {
        .coalition {
            width:33%;
           /*min-height: 150px;*/
        }
        .coalition:nth-child(3n+3) {
            padding-right:5px;
            padding-left:20px;
        }
        .coalition:nth-child(4n+4),
        .coalition:first-child {
            padding-left:5px;
            padding-right:20px;
        }
    }
}